<ion-header>
  <ion-navbar>
    <ion-title>
      Button Game
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-grid>
     <ion-row>
       <ion-col>
        <button ion-button round full (click)="onClick1('1')" *ngIf="!check2ArraysProgress(patternArray, solutionArray)"></button>
        <button ion-button color="dark" round full (click)="onClick1('1')" *ngIf="check2ArraysProgress(patternArray, solutionArray)"></button>
       </ion-col>
       <ion-col>
          <button ion-button round full (click)="onClick1('2')" *ngIf="!check2ArraysProgress(patternArray, solutionArray)"></button>
          <button ion-button color="dark" round full (click)="onClick1('2')" *ngIf="check2ArraysProgress(patternArray, solutionArray)"></button>
       </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
            <button ion-button round full (click)="onClick1('3')" *ngIf="!check2ArraysProgress(patternArray, solutionArray)"></button>
            <button ion-button color="dark" round full (click)="onClick1('3')" *ngIf="check2ArraysProgress(patternArray, solutionArray)"></button>
        </ion-col>
        <ion-col>
            <button ion-button round full (click)="onClick1('4')" *ngIf="!check2ArraysProgress(patternArray, solutionArray)"></button>
            <button ion-button color="dark" round full (click)="onClick1('4')" *ngIf="check2ArraysProgress(patternArray, solutionArray)"></button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button full ion-button color="secondary" (click)="onCheck()">Check</button>
      </ion-col>
      <ion-col>
        <button full ion-button color="danger" (click)="onReset()">Reset</button>
    </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>
